<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vítejte</title>
</head>
<body>
    <header>
        <h1>Zdravím</h1>
    </header>



    <main>
        <h2>konstanty</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc et luctus lacinia, nisl justo fringilla nunc, id tincidunt tortor nunc ac nunc.</p>
        <a href="konstanty">jak moc znáte pi a tak</a>
    </main>

    <footer>
        <p>&copy; 2022 My Website. All rights reserved.</p>
        <p>nevím ani co to znamená</p>
    </footer>
</body>
</html>
